[package]
name = "types"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_repr = "0.1.20"
wincode = { version = "0.2.5", features = ["derive"] }
