[package]
name = "types"
version.workspace = true
edition.workspace = true

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_repr = "0.1.20"
wincode = { version = "0.2.5", features = ["derive"] }
