@font-face {
	font-family: "Hanken Grotesk";
	src: url("/HankenGrotesk-VariableFont_wght.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Hanken Grotesk";
	src: url("/HankenGrotesk-Italic-VariableFont_wght.ttf");
	font-style: italic;
}

:root {
	font-family: "Hanken Grotesk", sans-serif;
	--background-color: hsl(159, 100%, 94%);
	--text-color: black;
	--line-width: round(0.1rem, 1px);
	--line-color: hsl(0, 5%, 30%);

	background-color: var(--background-color);
	color: var(--text-color);
}

body {
	box-sizing: border-box;
	margin: 0;
}

header {
	box-sizing: border-box;
	background-color: hsl(0, 10%, 95%);
	padding: 1rem;
	padding-top: 4rem;
}

main {
	box-sizing: border-box;
	width: min(100%, 100ch);
	margin: auto;
	padding: 1rem;
}

#logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
}

.events {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(45ch, 1fr)
	); /* half of main width */
	gap: 1rem;
	.name-and-logo {
		display: flex;
		justify-content: right;
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}

	> div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		padding: 0.5rem;
		border: var(--line-width) var(--line-color) solid;
		border-radius: 0.5rem;
		opacity: 0.9;
		&:hover,
		&:focus {
			opacity: 1;
			border-color: hsl(0, 80%, 20%);
			outline: var(--line-width) hsl(0, 50%, 20%) solid;
		}
		img {
			display: inline-block;
		}
	}
}

h1 {
	text-align: center;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 0rem;
}

h3 {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

