@font-face {
	font-family: "Hanken Grotesk";
	src: url("/HankenGrotesk-VariableFont_wght.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Hanken Grotesk";
	src: url("/HankenGrotesk-Italic-VariableFont_wght.ttf");
	font-style: italic;
}

:root {
	--background-color: hsl(159, 40%, 10%);
	--text-color: hsl(159, 40%, 95%);
	--line-width: round(0.1rem, 1px);
	--accent-color: hsl(159, 100%, 90%);

	background-color: var(--background-color);
	color: var(--text-color);

	font-family: "Hanken Grotesk", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
}

input {
	font-family: inherit;
	font-size: inherit;
}

#main {
	flex: 1;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1.5rem;
	width: min(100%, 60rem);
	margin: auto;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

header {
	text-align: center;
}

#search-input-container {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	#info {
		font-size: 0.6rem;
	}
}

#selections {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: start;
	min-height: 2em;

	button {
		background: none;
		outline: none;
		border: none;
		cursor: pointer;
	}
	> * {
		padding: 0.5rem;
		border: var(--line-width) solid var(--accent-color);
	}
	#generated-url {
		display: flex;
		gap: 0.5em;
		justify-content: space-between;
		span {
			user-select: none;
		}
	}
}

code {
	color: var(--accent-color);
}

table {
	width: 100%;
	border-collapse: collapse;
	tr {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:nth-child(odd) {
			background-color: hsl(159, 40%, 9%);
		}
		&:hover {
			background-color: hsl(159, 40%, 7%);
		}
	}
	td {
		> * {
			padding: 0.5rem;
			display: block;
		}
	}
}

input[type="checkbox"],
button {
	&:active {
		scale: 0.9;
	}
}

input[type="checkbox"],
label {
	cursor: pointer;
}

input[type="text"] {
	font-size: large;
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.85);
	flex: 1;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: end;
	margin: 0;
	margin-bottom: 0.2em;
}

a {
	color: var(--accent-color);
}
