@font-face {
	font-family: "Hanken Grotesk";
	src: url("/HankenGrotesk-VariableFont_wght.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Hanken Grotesk";
	src: url("/HankenGrotesk-Italic-VariableFont_wght.ttf");
	font-style: italic;
}

:root {
	--background-color: hsl(159, 40%, 11%);
	--text-color: hsl(159, 40%, 95%);
	--line-width: round(0.1rem, 1px);
	--accent-color: hsl(159, 100%, 90%);

	background-color: var(--background-color);
	color: var(--text-color);

	font-family: "Hanken Grotesk", sans-serif;
}

body {
	flex-direction: column;
	margin: 0;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

input {
	font-family: inherit;
	font-size: inherit;
}

#main {
	flex: 1;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 1rem 0.5rem;
	gap: 2rem;
	width: min(100%, 60rem);
	margin: auto;
}

main {
	flex: 1;
	> div {
		margin: 1rem 0;
	}
}

nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	a {
		text-decoration: none;
		&.active {
			pointer-events: none;
			text-decoration: underline;
		}
	}
}

#search-input-container {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	#info {
		font-size: 0.6rem;
	}
}

#selections {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: start;
	min-height: 2em;

	button {
		background: none;
		outline: none;
		border: none;
		cursor: pointer;
	}
	> * {
		padding: 0.5rem;
		border: var(--line-width) solid var(--accent-color);
	}
	#generated-url {
		display: flex;
		gap: 0.5em;
		justify-content: space-between;
		span {
			user-select: none;
		}
	}
}

code {
	color: var(--accent-color);
}

table {
	margin: auto;
	margin-bottom: 3em;
	border-collapse: collapse;
	thead {
		background-color: rgba(0, 0, 0, 0.2);
		text-align: left;
	}
	tr {
		&:nth-child(odd) {
			background-color: rgba(0, 0, 0, 0.12);
		}
		&:nth-child(even) {
			background-color: rgba(0, 0, 0, 0.04);
		}
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
	td,
	th {
		padding: 0.5em 1em;
		> * {
			display: block;
		}
	}
}

input[type="checkbox"],
button,
a,
a > * {
	&:active {
		transform: translateY(1px);
	}
}

input[type="checkbox"],
label {
	cursor: pointer;
}

input[type="text"] {
	font-size: large;
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.85);
	flex: 1;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: end;
	margin: 0;
	margin-bottom: 0.2em;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

p {
	margin-top: 0.5em;
}

a {
	color: var(--accent-color);
	&:hover {
		filter: brightness(1.2);
	}
	&[target="_blank"]::after {
		content: "⮺";
		color: var(--text-color);
		font-size: 1.5em;
		margin-left: 0.1em;
		display: inline-block;
	}
}

.block-link {
	text-decoration: none;
}

.box,
.block-link {
	display: block;
	padding: 0.5rem;
	margin: 1em 0;
	border: var(--line-width) solid var(--accent-color);
	h3,
	p {
		margin: 0;
	}
}
